/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
    @apply p-0 m-0 dark:bg-black dark:text-neutral-100
}

.primary-btn {
    @apply inline-flex items-center justify-center w-full px-5 py-3 text-sm font-medium text-center text-neutral-100 border bg-blue-600 border-blue-600 rounded-lg sm:w-auto hover:bg-blue-700 focus:ring-4 focus:ring-blue-700 dark:text-white dark:border-blue-700 dark:hover:bg-blue-700 dark:focus:ring-blue-800
}

.primary-outline-btn {
    @apply inline-flex items-center justify-center w-full px-5 py-3 text-sm font-medium text-center text-neutral-900 border border-neutral-200 rounded-lg sm:w-auto hover:bg-neutral-100 focus:ring-4 focus:ring-neutral-100 dark:text-white dark:border-neutral-700 dark:hover:bg-neutral-700 dark:focus:ring-neutral-800
}

.secondary-btn {
    @apply inline-flex items-center justify-center w-full px-5 py-3 mb-2 mr-2 text-sm font-medium text-neutral-900 bg-white border border-neutral-200 rounded-lg sm:w-auto focus:outline-none hover:bg-neutral-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-neutral-200 dark:focus:ring-neutral-700 dark:bg-neutral-800 dark:text-neutral-400 dark:border-neutral-600 dark:hover:text-white dark:hover:bg-neutral-700
}

.primary-link {
    @apply text-base font-medium text-blue-600 hover:text-blue-800 dark:text-blue-500 dark:hover:text-blue-700
}